<div class="home">
    <a href="Randomons.apk">
      <%= image_tag "/assets/logo.png", alt: "Randomons Logo", class: "home-logo" %>
    </a>
    <p>
      <%= link_to "Download our beta app for android", "Randomons.apk" %>
    </p>
  </div>
</div>
