<!--
  Atencao que isto esta muito a preguiçoso
-->
<div style=" Margin-left:400px; Margin-right:auto;">
    <a href="Randomons.apk"><img src="logo.png" alt="randomons" width="354" height="400"></a>
    <p><%= link_to "Download our beta app for android", "Randomons.apk"%></p>
  </div>
</div>

